/* =======================================================
Colors
======================================================= */
/* =======================================================
Font Face
======================================================= */
@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  src: url("fonts/Avenir-Medium.ttf"); }

@font-face {
  font-family: 'Avenir';
  font-weight: lighter;
  src: url("fonts/Avenir-Book.ttf"); }

/* =======================================================
Global
======================================================= */
body {
  font-family: 'Avenir';
  font-weight: lighter;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* =======================================================
Setting header paddings
======================================================= */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

h4 {
  font-size: 16px;
  font-weight: lighter; }

h6 {
  font-weight: lighter; }

a.email {
  color: #484848;
  text-decoration: underline; }

/* =======================================================
Utility classes
======================================================= */
@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .hide--mobile {
    display: none; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .hide--desktop {
    display: none; } }

@media screen and (min-width: 46.875em) {
  .display--mobile {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .display--tablet {
    display: none; } }

@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .display--tablet {
    display: none; } }

.text-center {
  text-align: center; }

/* =======================================================
Hero
======================================================= */
a {
  text-decoration: none; }

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; }

.landing {
  color: #454545;
  display: inline-block;
  flex-flow: column;
  align-items: flex-start;
  margin: 135px 150px 0 150px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing {
      margin: 45px 0; } }

.landing-name {
  font-size: 36px;
  font-weight: bold;
  color: #484848;
  text-align: left;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-name {
      font-size: 36px;
      margin: 10px 20px -10px 20px; } }

.landing-divider {
  border: solid 5px #AFD9E1;
  width: 80px;
  margin: 10px 0 40px 0px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-divider {
      margin-left: 20px; } }

.landing-description {
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.4px;
  max-width: 500px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-description {
      margin: 0 20px;
      margin-bottom: 22.5px;
      padding: 0; } }

.landing-links__container {
  display: flex; }

/* =======================================================
Social Media Icons
======================================================= */
.social-icon {
  text-indent: -9999px;
  display: block;
  margin: 0 10px 0 -30px;
  width: 80px;
  height: 80px;
  background-size: contain; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .social-icon {
      display: inline-block;
      margin: 0 20px;
      width: 35px;
      height: 50px; } }

.resume-icon {
  background: url(../images/svg/resume_dark.svg) no-repeat center; }

.behance-icon {
  background: url(../images/svg/behance_dark.svg) no-repeat center; }

.dribbble-icon {
  background: url(../images/svg/dribbble_dark.svg) no-repeat center; }

.instagram-icon {
  background: url(../images/svg/instagram_dark.svg) no-repeat center; }

.linkedin-icon {
  background: url(../images/svg/linkedin_dark.svg) no-repeat center; }
