/* =======================================================
Colors
======================================================= */
/* =======================================================
Font Face
======================================================= */
@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url("fonts/Poppins-Bold.ttf"); }

@font-face {
  font-family: 'Poppins';
  font-weight: lighter;
  src: url("fonts/Poppins-Light.ttf"); }

/* =======================================================
Global
======================================================= */
body {
  font-family: 'Poppins';
  font-weight: lighter;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* =======================================================
Setting header paddings
======================================================= */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

h4 {
  font-size: 16px;
  font-weight: lighter; }

h6 {
  font-weight: lighter; }

/* =======================================================
Utility classes
======================================================= */
@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .hide--mobile {
    display: none; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .hide--desktop {
    display: none; } }

@media screen and (min-width: 46.875em) {
  .display--mobile {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .display--tablet {
    display: none; } }

@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .display--tablet {
    display: none; } }

.text-center {
  text-align: center; }

/* =======================================================
Hero
======================================================= */
a {
  text-decoration: none; }

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; }

.landing {
  color: #454545;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 67.5px 0; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing {
      margin: 45px 0; } }

.landing-name {
  font-size: 80px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: -30px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-name {
      font-size: 40px;
      margin-bottom: -10px; } }

.landing-title {
  font-size: 20px;
  color: #f58c86;
  text-align: center;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-title {
      font-size: 18px; } }

.landing-divider {
  border: solid 1px #454545;
  width: 69px;
  margin-top: 30px;
  margin-bottom: 40px; }

.landing-description {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-bottom: 45px;
  padding: 0 10px;
  max-width: 500px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .landing-description {
      margin: 0 20px;
      margin-bottom: 22.5px;
      padding: 0; } }

.landing-links__container {
  display: flex; }

/* =======================================================
Social Media Icons
======================================================= */
.social-icon {
  text-indent: -9999px;
  display: block;
  margin: 0 10px;
  width: 80px;
  height: 80px;
  background-size: contain; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .social-icon {
      display: inline-block;
      margin: 0 20px;
      width: 30px;
      height: 50px; } }

.resume-icon {
  background: url(../images/svg/resume.svg) no-repeat center; }

.behance-icon {
  background: url(../images/svg/behance.svg) no-repeat center; }

.dribbble-icon {
  background: url(../images/svg/dribbble.svg) no-repeat center; }

.instagram-icon {
  background: url(../images/svg/instagram.svg) no-repeat center; }

.linkedin-icon {
  background: url(../images/svg/linkedin.svg) no-repeat center; }

/* =======================================================
Project Container
======================================================= */
.projects-container {
  display: flex;
  flex-flow: column; }

.project-content {
  display: none; }

.project-container {
  color: #fff;
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
  background-position: center; }
  @media screen and (min-width: 61.875em) {
    .project-container:hover .project-content {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; } }
  @media screen and (min-width: 0) and (max-width: 61.8125em) {
    .project-container .project-content {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center; } }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .project-container {
      height: 500px; } }

.project--sprout-background {
  background-image: url("../images/background/sprout_banner.jpg"); }

.project--air_miles-background {
  background-image: url("../images/background/air_miles_banner.jpg"); }

.project--ibm-background {
  background-image: url("../images/background/ibm_banner.jpg"); }

.project--go_green-background {
  background-image: url("../images/background/go_green_banner.jpg"); }

.project--personal-background {
  background-image: url("../images/background/personal_banner.jpg"); }

.project-name {
  font-size: 32px;
  font-weight: bold; }

.project-secondary {
  font-size: 18px;
  margin-bottom: 40px; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .project-secondary {
      margin-left: 15px;
      margin-right: 15px; } }

.project-divider {
  border: solid 1px #fff;
  width: 69px;
  margin-top: 20px;
  margin-bottom: 22px; }

.project-button {
  border: solid 2px #fff;
  background-color: transparent;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  outline: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 140px; }

.project-button:hover {
  background-color: #fff; }

.project--sprout-background a:hover {
  color: #2ebe68; }

.project--air_miles-background a:hover {
  color: #74cdef; }

.project--ibm-background a:hover {
  color: #1f57a4; }

.project--go_green-background a:hover {
  color: #f58c86; }

.project--personal-background a:hover {
  color: #000; }

/* =======================================================
Secondary Pages
======================================================= */
.project-content--secondary {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .project-content--secondary {
      margin: 0 auto;
      width: 90%; } }

.project-container--secondary {
  height: 350px; }

.secondary--case-container {
  width: 70%;
  margin: 45px auto; }
  .secondary--case-container li {
    font-size: 16px;
    color: #454545; }
  @media screen and (min-width: 0) and (max-width: 46.8125em) {
    .secondary--case-container {
      width: 80%; } }

.secondary--subsection {
  margin-top: 67.5px; }

.secondary--subsection-header {
  font-size: 36px; }

.secondary--subsection-subhead {
  color: #454545;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0; }

.secondary--subsection-content {
  font-size: 16px;
  color: #454545; }

.secondary--caption-content {
  font-size: 13px;
  color: #454545; }

.secondary--image-asset {
  width: 100%;
  max-width: 900px; }

.footer--navigation {
  text-align: center;
  margin: 45px auto; }

.navigation--item {
  font-size: 16px;
  margin: 0 22.5px;
  color: #f58c86; }
  .navigation--item:hover {
    color: #c9736e; }

/* =======================================================
Secondary Project Pages
======================================================= */
.project--sprout-secondary-bg {
  background-image: url("../images/background/sprout_details.jpg"); }

.project--sprout-header {
  color: #2ebe68;
  margin-bottom: -10px; }

.project--am-secondary-bg {
  background-image: url("../images/background/am_details.jpg"); }

.project--am-header {
  color: #74cdef;
  margin-bottom: -10px; }

.project--gg-secondary-bg {
  background-image: url("../images/background/gg_details.jpg"); }

.project--gg-header {
  color: #f58c86;
  margin-bottom: -10px; }

.project--ibm-secondary-bg {
  background-image: url("../images/background/ibm_details.jpg"); }

.project--ibm-header {
  color: #1f57a4;
  margin-bottom: -10px; }

.project--personal-secondary-bg {
  background-image: url("../images/background/personal_details.jpg"); }
