/* =======================================================
Colors
======================================================= */
/* =======================================================
Font Face
======================================================= */
@font-face {
  font-family: 'YoungSerif';
  font-weight: normal;
  src: url("fonts/YoungSerif-Regular.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  src: url("fonts/Graphik-Regular.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: bolder;
  src: url("fonts/Graphik-Medium.otf"); }

@font-face {
  font-family: 'Graphik';
  font-weight: bold;
  src: url("fonts/Graphik-Semibold.otf"); }

/* =======================================================
Global
======================================================= */
body {
  font-family: 'Graphik';
  font-weight: 100;
  margin: 0;
  padding: 0; }

/* =======================================================
Utility classes
======================================================= */
@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .hide--mobile {
    display: none; } }

@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
  .hide--tablet {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .hide--desktop {
    display: none; } }

@media screen and (min-width: 46.875em) {
  .display--mobile {
    display: none; } }

@media screen and (min-width: 61.875em) {
  .display--tablet {
    display: none; } }

@media screen and (min-width: 0) and (max-width: 46.8125em) {
  .display--tablet {
    display: none; } }

/* =======================================================
Hero
======================================================= */
a {
  text-decoration: none; }

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%; }

.landing {
  color: #454545;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 160px 0; }

.landing-name {
  font-size: 85px;
  font-weight: bold;
  color: black;
  text-align: center; }

.landing-title {
  font-size: 22px;
  text-align: center; }

.landing-divider {
  border: solid 1px #454545;
  width: 69px;
  margin-top: 30px;
  margin-bottom: 40px; }

.landing-description {
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-bottom: 45px;
  padding: 0 10px;
  font-weight: lighter;
  max-width: 500px; }

.landing-links__container {
  display: flex; }

/* =======================================================
Social Media Icons
======================================================= */
.social-icon {
  text-indent: -9999px;
  display: block;
  margin: 0 30px;
  width: 30px;
  height: 30px;
  background-size: contain; }

.resume-icon {
  background: url(../images/svg/resume.svg) no-repeat center; }

.behance-icon {
  background: url(../images/svg/behance.svg) no-repeat center; }

.dribbble-icon {
  background: url(../images/svg/dribbble.svg) no-repeat center; }

.instagram-icon {
  background: url(../images/svg/instagram.svg) no-repeat center; }

.linkedin-icon {
  background: url(../images/svg/linkedin.svg) no-repeat center; }

/* =======================================================
Project Container
======================================================= */
.projects-container {
  display: flex;
  flex-flow: column; }

.project-content {
  display: none; }

.project-container {
  color: #fff;
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover; }
  .project-container:hover .project-content {
    display: block;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center; }

.project--sprout-background {
  background-image: url("../images/background/sprout_banner.jpg"); }

.project--air_miles-background {
  background-image: url("../images/background/air_miles_banner.jpg"); }

.project--ibm-background {
  background-image: url("../images/background/ibm_banner.jpg"); }

.project--go_green-background {
  background-image: url("../images/background/go_green_banner.jpg"); }

.project--personal-background {
  background-image: url("../images/background/personal_banner.jpg"); }

.project-name {
  font-size: 30px;
  margin-top: 110px;
  text-transform: uppercase; }

.project-secondary {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 40px; }

.project-divider {
  border: solid 1px #fff;
  width: 69px;
  margin-top: 20px;
  margin-bottom: 22px; }

.project-container button {
  border: solid 2px #fff;
  background-color: Transparent;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  outline: none;
  height: 40px;
  width: 140px; }

.project-container button:hover {
  background-color: #fff; }

.project--sprout-background button:hover {
  color: #2ebe68; }

.project--air_miles-background button:hover {
  color: #74cdef; }

.project--ibm-background button:hover {
  color: #1f57a4; }

.project--go_green-background button:hover {
  color: #f58c86; }

.project--personal-background button:hover {
  color: #000; }
